<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="driversTable.Properties.Settings.carsdbConnectionString"
            connectionString="Driver={ODBC Driver 17 for SQL Server};server=localhost;database=carsdb;uid=admin;pwd=root"
            providerName="System.Data.Odbc" />
        <add name="driversTable.Properties.Settings.driversConnectionString"
            connectionString="Driver={ODBC Driver 17 for SQL Server};server=localhost;uid=admin;trusted_connection=No;app=Microsoft® Visual Studio®;wsid=COMP1001;database=drivers;pwd=root"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>